@font-face {
	font-family: 'Hind';
	src: url('/fonts/Hind/Hind-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Hind';
	src: url('/fonts/Hind/Hind-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Khand';
	src: url('/fonts/Khand/Khand-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Khand';
	src: url('/fonts/Khand/Khand-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Sharpie';
	src: url('/fonts/Sharpie/Sharpie-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Sharpie-ExtraBold';
	src: url('/fonts/Sharpie/Sharpie-ExtraBold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Ranade';
	src: url('/fonts/Ranade/Ranade-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Ranade';
	src: url('/fonts/Ranade/Ranade-Medium.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}
