// abstracts/_variables.scss

// Layout
$page-padding: clamp(2rem, 5vw, 2rem);
$inner-radius-target: 45px;

// Typography
$font-size-base: 1rem;

// Palette de base (Light Mode)
$color-bg-light: #f5f2ed; // Blanc cassé / Beige doux
$color-text-light: #1a1a1b; // Noir encre
$color-primary-light: #8783d1; // Soft Periwinkle
$color-secondary-light: #aa9aba; // Lilac Ash
$color-accent1-light: #bfa4a4; // Rosy Taupe
$color-accent2-light: #d1abad; // Cotton Rose

// Palette de base (Dark Mode)
$color-bg-dark: #f5f2ed; // Gris anthracite chaud
$color-text-dark: #1a1a1b; // Blanc cassé / Os
$color-primary-dark: #8783d1; // Electric Indigo
$color-secondary-dark: #aa9aba; // Muted Plum
$color-accent1-dark: #bfa4a4; // Burnt Rose
$color-accent2-dark: #d1abad; // Dusty Coral

// Divers
$color-neutral: #90a4ae;
