// abstracts/_variables.scss

// 1. Layout & Stack Effect (Les calculs dont on a parlé)
$page-padding: clamp(1rem, 5vw, 2rem);
$inner-radius-target: 45px;
$bg-menu: rgb(97, 126, 97);

// 2. Tu peux aussi "lier" tes variables SCSS à tes variables CSS
// pour les utiliser dans tes calculs complexes
$font-size-base: 1rem;
