@font-face {
    font-family: 'Sharpie';
    src: url('/fonts/Sharpie/Sharpie-Variable.woff2') format('woff2');
    font-weight: 300 900; // Supporte tout du Light au Black
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ranade';
    src: url('/fonts/Ranade/Ranade-Variable.woff2') format('woff2');
    font-weight: 100 900; 
    font-style: normal;
    font-display: swap;
}