html,
body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	box-sizing: border-box;
	font-size: 22px; /* 1rem = 18px */
}
*, 
*::before, 
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
