/* === Body === */
body {
	font-family: var(--font-sans);
	font-size: var(--font-size-sm);
	line-height: 1.5; /* 150% */
	letter-spacing: 0; /* neutre */
	color: #222;
	background: #fff;
}

/* === Headings === */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-title);
	font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

h1 {
	font-size: var(--font-size-4xl);
	letter-spacing: -0.02em;
	line-height: 1;
}

h2 {
	font-size: var(--font-size-3xl);
	letter-spacing: -0.0175em;
	line-height: 1.1;
}

h3 {
	font-size: var(--font-size-2xl);
	letter-spacing: -0.015em;
	line-height: 1.2;
}

h4 {
	font-size: var(--font-size-xl);
	letter-spacing: -0.0116em;
	line-height: 1.3;
}

h5 {
	font-size: var(--font-size-lg);
	letter-spacing: -0.0083em;
	line-height: 1.35;
}

h6 {
	font-size: var(--font-size-md);
	letter-spacing: -0.005em;
	line-height: 1.4;
}

/* === Uppercase variants === */
.uppercase {
	text-transform: uppercase;
	letter-spacing: 0.05em;
}
